:root {
    --primary-color: hsl(199, 100%, 33%);
    --secondary-color: hsl(187, 85%, 43%);
    --gradient-color: linear-gradient(to right, var(--secondary-color), var(--primary-color));
    --white-color: hsl(0, 0%, 100%);
    --black-color: hsl(201, 33%, 16%);
    --text-color: hsl(240, 4%, 36%);
    --white-color-dream: hsl(0, 0%, 93%);
    --grey-text: rgb(190, 190, 190);
    --input-color: rgb(239, 239, 239);
    --body-color: rgb(240, 240, 246);
    --card-bg: rgb(255, 255, 255);
}

.header {
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--white-color-dream);
    width: 100%;
    padding: 1rem;
    z-index: 1000;

    .logo {
        color: var(--black-color);
    }

    @media screen and (max-width: 768px) {
        .navBar {
            position: absolute;
            background: var(--white-color-dream);
            height: max-content;
            width: 80%;
            border-radius: 1rem;
            top: 6rem;
            left: 50%;
            transform: translate(-50%);
            z-index: 2000;
            box-shadow: 0 2px 4px rgba(2, 15, 29, 0.904);
            transition: .3s ease-in-out;
        }
    }
}